.add-fans-shade{
	display: none;
	position: absolute;
  padding: 10px;
  background: #fff;
  z-index: 99;
  box-shadow: 1px 1px 1px #444;
}
.add-fans-shade button{
	float: right;
}
.add-fans-shade .fans-list{
	padding: 10px 15px 20px;
	max-height: 300px;
	overflow: hidden;
	overflow-y: auto;
}
.add-fans-shade .fans-list li{
	line-height: 30px;
  /*border-bottom: 1px solid #d6d6d6;*/
}
.add-fans-shade .fans-list li i{
	position: relative;
	display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px; 
	border: 1px solid #d6d6d6;
}
.add-fans-shade .fans-list li i.checked{
	border-color: #5FB878;
    background-color: #5FB878;
    color: #fff;
}
.add-fans-shade .fans-list li i.checked:before{
	position: absolute;
  bottom: -9px;
  right: 5px;
  content: '√';
  font-size: 15px;
}


.tag-body .add-tag-p .add-tag-btn{
  border-radius: 30px;
}
.tag-body .add-tag-p i{
	display: inline-block;
	width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.tag-body .tag-div{
	display: none;
	position: absolute;
	width: 320px;
	height: 181px;
  overflow-y: auto;
	margin-top: 8px;
	background: #fff;
  border: 1px solid #ddd;
 	box-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index: 99;
}
.tag-body .tag-div .title{
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	padding-left: 10px;
	color: #73879c;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.tag-body .tag-div input{
	vertical-align: middle;
}
.tag-body .tag-div p{
	margin: 10px 15px;
}
.tag-body .tag-div p.add-tag-desc{
	display: none;
	margin-top: -10px;
}
.tag-body .tag-div p:last-child{
	text-align: center;
}
